.App {
  text-align: center;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  margin-left: 10px;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}